.container-dresses {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tačno 4 kolone u jednom redu */
  gap: 20px; /* Veći razmak između kartica */
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
  background-color: #ffffff; /* Bela pozadina */
  justify-content: center; /* Centriranje mreže */
}

.card {
  width: 100%; /* Kartica zauzima dostupnu širinu iz mreže */
  max-width: 300px; /* Povećana širina kartice */
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efekti animacije */
}

.card:hover {
  transform: scale(1.05); /* Blago povećanje na hover */
}

.card img {
  width: 100%; /* Slika preko cele širine kartice */
  height: 350px; /* Povećana visina slike */
  object-fit: cover; /* Proporcionalno prilagođavanje slike */
}

.card h2 {
  font-size: 20px; /* Povećan font naslova */
  color: #333;
  margin: 10px 0;
}

.image-container {
  position: relative; /* Omogućava pozicioniranje dugmeta unutar slike */
}

.favorite-button {
  position: absolute; /* Dugme je postavljeno unutar slike */
  top: 10px; /* Razmak od vrha slike */
  right: 10px; /* Razmak od desne strane slike */
  background: rgba(255, 255, 255, 0.8); /* Poluprovidna bela pozadina */
  color: #ff4757; /* Crvena boja za srce */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Blaga senka */
}

.favorite-button :hover {
  background-color: rgba(255, 71, 87, 0.8); /* Tamnija crvena pozadina na hover */
  color: white; /* Bela boja za ikonu na hover */
  transform: scale(1.1); /* Povećanje na hover */
}

.favorite-button.active {
  background-color: #ff4757; /* Intenzivna crvena boja kada je aktivno */
  color: white;
}

@media (max-width: 1200px) {
  .container-dresses {
    grid-template-columns: repeat(3, 1fr); /* 3 kolone na širim tablet uređajima */
  }
}

@media (max-width: 768px) {
  .container-dresses {
    grid-template-columns: repeat(2, 1fr); /* 2 kolone na tablet uređajima */
  }
}

@media (max-width: 480px) {
  .container-dresses {
    grid-template-columns: 1fr; /* 1 kolona na mobilnim uređajima */
  }
}
