.auth-page {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 98vw;
    margin-top: 50px;
}

.auth-page img{
    width: 40vw;
    height: 100vh;
    display: flex;
    margin-left: 50px;
}

.auth-page-div {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centriranje inputa i dugmeta */
    padding: 10px;
}

.form-header {
    text-align: center;
    margin-bottom: 30px; /* Smanjen razmak */
}

.auth-page-input {
    width: 40vw;
    position: relative;
    display: flex;
    padding: 5px;
}
.auth-page-input select {
    width: 100%;
    padding: 12px 40px 12px 12px; /* Prostor za ikonu "eye" */
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: black;
    transition: border-color 0.3s;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.auth-page-input input {
    width:   100%;;
    padding: 12px 40px 12px 12px; /* Prostor za ikonu "eye" */
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: black;
    transition: border-color 0.3s;
    background-color: #ffffff;
    color: black;
    
}
.auth-page-button button{
    width: 98.5%;
    padding: 12px 40px 12px 12px; /* Prostor za ikonu "eye" */
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: black;
    transition: border-color 0.3s;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    margin-left: 5px;
  

}

.auth-page-input input:focus {
    border-color: #000000;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
}

input[type="submit"] {
    display: flex;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 100;
}

/* input[type="submit"]:hover {
    background-color: #99a7b7;
} */



