
.navbar {
  width: 98.7vw;
  height: 20vh;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3e2c2c;
  font-family: Arial, sans-serif;
  position: relative;
}
.nav1{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  background-color: transparent;
  margin-left: 10px;
}

.navbar-center {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  display: flex;
  max-width: 100%;
  height: auto;
}

.navbar-center img {
  width: 50%;
  max-width: 300px;
  height: auto;
}

.navbar-right {
    display: flex;
    background-color: transparent;
    gap: 10px;
}

.navbar button {
  background-color: #3e2c2c;
  font-size: 15px;
  color: #d8cbcb; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 8px;
  white-space: nowrap;
}

.navbar-left button {
  color: #d8cbcb;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-left button:hover,
.navbar-left button:focus,
.navbar-left button:active,
.navbar button:hover {
  color: white;
}

.navbar-right button {
  background-color: #3e2c2c;

}

.navbar-left,
.navbar-right {
  min-width: 150px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    height: 5%;
      padding: 0.5rem;
  }

  .navbar-center {
      width: 100%;
  }

  .navbar-center img {
      width: 70%;
      margin-top: 20px;
      max-width: 200px;
  }

  .navbar button {
      font-size: 14px;
      
  }
  .navbar-right {
    min-width: auto;
    margin-right: 10px;
}
}

/* Small screens */
@media screen and (max-width: 480px) {
  .navbar {
    padding: 0.25rem;
    display: flex;
    width: 100vw;
    height: 5%;
}
  .navbar-center img {
      width: 100%;
      display: flex;
      justify-content: center;
      
      max-width: 180px;
      margin-top: 15px;
  }

  .navbar button {
      font-size: 13px;
  }

  
  .navbar-right {
      min-width: auto;
      margin-right: 10px;

  }
  .navbar-left{
    min-width: auto;
    margin-right: 10px;
  
  }
}

/* For very small screens */
@media screen and (max-width: 393px) {
  .navbar {
      padding: 0.25rem;
      display: flex;
      width: 100vw;
      height: 5%;
  }

  .navbar-center img {
      max-width: 150px;
  }

  .navbar button {
      font-size: 12px;
      padding: 6px 12px;
  }

}