.user-container-dresses {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tačno 4 kolone u jednom redu */
  gap: 20px; /* Veći razmak između kartica */
  padding: 20px;
  margin-top: 50px;
  background-color: #ffffff; /* Bela pozadina */
  justify-content: center; /* Centriranje mreže */
}

.card {
  width: 100%; /* Kartica zauzima dostupnu širinu iz mreže */
  max-width: 300px; /* Povećana širina kartice */
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Blagi senka efekat */
}

.card img {
  width: 100%; /* Slika preko cele širine kartice */
  height: 350px; /* Povećana visina slike */
  object-fit: cover; /* Proporcionalno prilagođavanje slike */
  transition: transform 0.3s ease; /* Animacija za pomeranje slike */
}

.card img:hover {
  transform: scale(1.1); /* Povećanje slike na hover */
}


.card h2 {
  font-size: 20px; /* Povećan font naslova */
  color: #333;
  margin: 10px 0;
}

.image-container-user {
  position: relative; /* Omogućava pozicioniranje dugmeta unutar slike */
  overflow: hidden; /* Sprečava izlazak slike iz okvira kartice */
}

.favorite-button {
  color: white; /* Inicijalno belo */
  position: absolute; /* Dugme je postavljeno unutar slike */
  bottom: 10px; /* Razmak od dna slike */
  right: 10px; /* Razmak od desne strane slike */
  border: none;
  font-size: 20px; 
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease; /* Animacija za promenu veličine i boje */
  background-color: transparent;
}

.favorite-button:hover {
  transform: scale(1.1); /* Lagano povećanje na hover */
  color: #ff4757; /* Boja na hover */
}



@media (max-width: 1200px) {
  .container-dresses {
    grid-template-columns: repeat(3, 1fr); /* 3 kolone na širim tablet uređajima */
  }
}

@media (max-width: 768px) {
  .container-dresses {
    grid-template-columns: repeat(2, 1fr); /* 2 kolone na tablet uređajima */
  }
}

@media (max-width: 480px) {
  .container-dresses {
    grid-template-columns: 1fr; /* 1 kolona na mobilnim uređajima */
  }
}